.hidden {
  display: none; }

.correct {
  background: #00AA50; }

.incorrect {
  background: #c80f0f; }

#score {
  padding-top: 10px; }

#again {
  padding-bottom: 105px; }

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; }

body {
  padding-top: 10px;
  display: flex;
  background-image: url(../images/academygrupp.jpg);
  background-color: #00AA50;
  font-family: 'Roboto', sans-serif; }

#page-wrap {
  min-width: 720px;
  max-width: 1080px;
  background: #ffffff;
  margin: auto; }

#footer {
  text-align: center;
  align-content: center; }

#githubLogo {
  margin: auto;
  height: 100px; }

#title {
  font-size: 20px;
  height: 80px; }

#header {
  height: 200px; }

p, li {
  font-family: 'Roboto', sans-serif; }

h1 {
  font-family: 'Spectral SC', serif;
  font-weight: 300;
  color: white;
  background: #00AA50; }

h2 {
  font-family: 'Indie Flower', cursive;
  background: #00AA50;
  width: 400px;
  height: 40px;
  margin: auto;
  color: white; }

#buttons {
  z-index: 1;
  padding-bottom: 105px; }

#nameField {
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  color: #00AA50;
  height: 40px;
  margin-top: 10px; }

#scoreField {
  height: 100px;
  font-family: 'Roboto', sans-serif; }

#textField {
  height: 40px; }

#hstop {
  margin-top: 10px; }

#highScore {
  background-color: white;
  background-image: url(../images/behappy.jpg);
  background-size: 500px 290px;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 600px;
  margin: auto;
  height: 300px;
  color: black; }

#textBox {
  max-width: 600px;
  height: 400px;
  margin: auto;
  width: 80%;
  color: black;
  background: white; }

#aboutText {
  margin-bottom: 20px; }

#behappy {
  max-width: 100%;
  max-height: 160px; }

#klassButtons {
  height: 150px;
  margin: auto;
  text-align: center;
  padding-bottom: 10px; }

.klassImg {
  max-height: 150px;
  max-width: 220px;
  margin: auto;
  cursor: pointer; }

.klassbtn {
  width: 33%;
  float: left; }

#dotnetButton {
  padding-top: 40px; }

#imageDiv {
  z-index: 0;
  height: 250px;
  width: 200px;
  position: relative;
  margin: auto; }

#footer {
  text-align: center;
  margin: auto;
  width: 100%; }

#logo {
  height: 200px;
  margin: auto; }

#githubLogo {
  margin-left: auto;
  margin-right: auto;
  cursor: pointer; }

#imageDiv img {
  z-index: 0;
  border: none;
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0); }

#imageDiv img.opaque {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1); }

.draw-border {
  box-shadow: inset 0 0 0 4px white;
  color: white;
  transition: color 0.25s 0.0833333333s;
  position: relative; }
  .draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0; }
  .draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px; }
  .draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px; }
  .draw-border:hover {
    color: #410d96; }
    .draw-border:hover::before, .draw-border:hover::after {
      border-color: #410d96;
      transition: border-color 0s, width 0.25s, height 0.25s;
      width: 100%;
      height: 100%; }
    .draw-border:hover::before {
      transition-delay: 0s, 0s, 0.25s; }
    .draw-border:hover::after {
      transition-delay: 0s, 0.25s, 0s; }

.btn {
  background: #00AA50;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem; }
  .btn:focus {
    outline: 2px dotted #00AA50; }

/*# sourceMappingURL=style.css.map */
