<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Reminiscence</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700" rel="stylesheet"/>
    <link rel="SHORTCUT ICON" HREF="../static/images/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Roboto|Spectral+SC" rel="stylesheet"/>
</head>

<body>
<div id="page-wrap">
    <div id="header">
        <img id="logo" src="../images/academylogo.png"/>
    </div>
    <div id="title">
        <h1>Reminiscence</h1>
    </div>
    <div id="scoreField">
        <h2 id="correct"></h2>
        <p id="score"></p>
    </div>
    <div id="imageDiv">
        <img id="image1" class='opaque'/>
        <img id="image2"/>
    </div>
    <div id="textBox">
        <div id="aboutText">
            <p>A simple name memory game about the fall 2017 Java class. The game ends when you've got all names right.
                Choose if you want to test your name recollection on the Java class, the .net class or both by clicking the corresponding image.
                Try to finish with as few incorrect answers as possible. Will you be as happy as the hipster when you are done?</p>
        </div>
        <div id="highScore">
            <h2>Happy hipster is happy</h2>
            <p id="hstop" th:text="${highScore0}"></p>
            <p th:text="${highScore1}"></p>
            <p th:text="${highScore2}"></p>
            <p th:text="${highScore3}"></p>
            <p th:text="${highScore4}"></p>
        </div>
    </div>
    <div id="field">
        <p id="textField"></p>
    </div>
    <div id="buttons">
        <button id="answer1" class="btn draw-border">Button1</button>
        <button id="answer2" class="btn draw-border">Button2</button>
        <button id="answer3" class="btn draw-border">Button3</button>
        <button id="answer4" class="btn draw-border">Button4</button>
    </div>
    <section id="submit">
        <div id="submitField">
            <input type="text" id="nameField" placeholder="Enter your name:"/>
        </div>
        <div id="klassButtons">
            <div class="klassbtn">
                <img id="javaButton" class="klassImg" src="../images/java.png"/>
            </div>
            <div class="klassbtn">
                <img id="bothButton" class="klassImg" src="../images/both.png"/>
            </div>
            <div class="klassbtn">
                <img id="dotnetButton" class="klassImg" src="../images/dotnet.jpg"/>
            </div>
        </div>
    </section>
    <div id="again">
        <button id="againButton" class="btn draw-border">Play Again</button>
    </div>
    <div id="footer">
        <img id="githubLogo" src="../images/github.png"/>
    </div>
</div>
<script type="text/javascript" src="../static/scripts/memory.js" th:src="@{/scripts/memory.js}"></script>
</body>

</html>